### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#drops duplicate user purchases
unique_user = purchase_data.drop_duplicates(subset = "SN", keep = 'first')

#Counts the number of users
countusers = unique_user["SN"].count()

#Creates the Data Frame for Display
df_table1 = {
    "Number of Users" : [countusers],
}
summary_table1 = pd.DataFrame(data=df_table1)
summary_table1

   Number of Users
0              576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
purchase_data.head()

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#---------------------
#drops duplicate items
#---------------------
unique_items = purchase_data.drop_duplicates(subset = "Item ID", keep = 'first')

#---------------------------
#runs desired calcualtations
#---------------------------

#number of items
unique_items_count = unique_items["Item ID"].count()

#average price of those items
average_price = purchase_data["Price"].mean()

#calculates aggregate purchasedata
num_purchases = purchase_data["Price"].count()
total_rev = purchase_data["Price"].sum()

#----------------------------------
#creates dataframe to show results
#---------------------------------
df_table2 = {
    "Number of Items": [unique_items_count],
    "Average Price" : [average_price],
    "Number of Purchases": [num_purchases],
    "Total Revenue": [total_rev],
}

summary_table2 = pd.DataFrame(data=df_table2)

summary_table2

   Number of Items  Average Price  Number of Purchases  Total Revenue
0              183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#==========================================================================
#Groups the data by gender df

male = unique_user.loc[unique_user["Gender"] == "Male", :]
female = unique_user.loc[unique_user["Gender"] == "Female", :]
other = unique_user.loc[unique_user["Gender"] == "Other / Non-Disclosed", :]
#===========================================================================


#------------------
#Counts the users
#------------------

malecount = male["Gender"].count()
femalecount = female["Gender"].count()
othercount = other["Gender"].count()


#---------------------
#Finds the percentages
#---------------------
male_percent = malecount/countusers *100
female_percent = femalecount/countusers * 100
other_percent = othercount/countusers * 100

#-----------------------
#Displays the data in DF
#----------------------
df_table3 = {
    "Gender Type" : ["Male", "Female", "Other / Non-Disclosed"],
    "Gender": [malecount, femalecount, othercount],
    "Percent of users": [male_percent, female_percent, other_percent],
}
summary_table3 = pd.DataFrame(data=df_table3)

summary_table3

             Gender Type  Gender  Percent of users
0                   Male     484         84.027778
1                 Female      81         14.062500
2  Other / Non-Disclosed      11          1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#==========================================================================
#Groups the data by gender df

malep = purchase_data.loc[purchase_data["Gender"] == "Male", :]
femalep = purchase_data.loc[purchase_data["Gender"] == "Female", :]
otherp = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
#===========================================================================


#--------------------------------------
#Counts genders based on purchase data
#--------------------------------------
malecount_p = malep["Gender"].count()
femalecount_p = femalep["Gender"].count()
othercount_p = otherp["Gender"].count()

#--------------------------------
#Finds the average purchase price
#--------------------------------
avg_male = malep["Price"].mean()
avg_female = femalep["Price"].mean()
avg_other = otherp["Price"].mean()

#----------------------------------
#Calculates total revenue by gender
#---------------------------------
total_rev_male = malep["Price"].sum()
total_rev_female = femalep["Price"].sum()
total_rev_other = otherp["Price"].sum()


#-----------------------
#Displays the data in DF
#----------------------
df_table3 = {
    "Gender Type" : ["Male", "Female", "Other / Non-Disclosed"],
    "Number of Purchases" : [malecount_p, femalecount_p, othercount_p],
    "Average Purchase Price": [avg_male, avg_female, avg_other],
    "Total Revenue": [total_rev_male, total_rev_female, total_rev_other],
}
summary_table3 = pd.DataFrame(data=df_table3)

summary_table3

,Gender Type,Number of Purchases,Average Purchase Price,Total Revenue
0,Male,652,3.017853,1967.64
1,Female,113,3.203009,361.94
2,Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [93]:
#Creates the bins
bins = [0, 9, 14, 19,24,29,34,39,100]
#Creates the Labels
bin_labels = ["<10", "10-14", "15-19","20-24","25-29", '30-34', "35-39", '40+']

#Creates dataframe
unique_user["Age Group"] = pd.cut(unique_user["Age"], bins, labels=bin_labels, duplicates = "drop")


#Compiles different groups
group1 = unique_user.loc[unique_user["Age Group"] == "<10", :]
group2 = unique_user.loc[unique_user["Age Group"] == "10-14", :]
group3 = unique_user.loc[unique_user["Age Group"] == "15-19", :]
group4 = unique_user.loc[unique_user["Age Group"] == "20-24", :]
group5 = unique_user.loc[unique_user["Age Group"] == "25-29", :]
group6 = unique_user.loc[unique_user["Age Group"] == "30-34", :]
group7 = unique_user.loc[unique_user["Age Group"] == "35-39", :]
group8 = unique_user.loc[unique_user["Age Group"] == "40+", :]

#Counts different Groups
group1c = group1["Age Group"].count()
group2c = group2["Age Group"].count()
group3c = group3["Age Group"].count()
group4c = group4["Age Group"].count()
group5c = group5["Age Group"].count()
group6c = group6["Age Group"].count()
group7c = group7["Age Group"].count()
group8c = group8["Age Group"].count()

#Creates Percentages
group1p = group1c/countusers
group2p = group2c/countusers
group3p = group3c/countusers
group4p = group4c/countusers
group5p = group5c/countusers
group6p = group6c/countusers
group7p = group7c/countusers
group8p = group8c/countusers

#Creates Summary Data Table
df_table4 = {
   "Age Group" : ["<10", "10-14", "15-19","20-24","25-29", '30-34', "35-39", '40+'],
   "Total Count" : [group1c, group2c, group3c, group4c, group5c, group6c, group7c, group8c],
   "Percentage of Players": [group1p, group2p, group3p, group4p, group5p, group6p, group7p, group8p],
}

summary_table4 = pd.DataFrame(data=df_table4)
summary_table4

C:\Users\Lee Taylor\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

  Age Group  Total Count  Percentage of Players
0       <10           17               0.029514
1     10-14           22               0.038194
2     15-19          107               0.185764
3     20-24          258               0.447917
4     25-29           77               0.133681
5     30-34           52               0.090278
6     35-39           31               0.053819
7       40+           12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
#Creates the bins
bins = [0, 9, 14, 19,24,29,34,39,100]
#Creates the Labels
bin_labels = ["<10", "10-14", "15-19","20-24","25-29", '30-34', "35-39", '40+']

#Creates dataframe
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels, duplicates = "drop")

#Compiles different groups
group1pd = purchase_data.loc[purchase_data["Age Group"] == "<10", :]
group2pd = purchase_data.loc[purchase_data["Age Group"] == "10-14", :]
group3pd = purchase_data.loc[purchase_data["Age Group"] == "15-19", :]
group4pd = purchase_data.loc[purchase_data["Age Group"] == "20-24", :]
group5pd = purchase_data.loc[purchase_data["Age Group"] == "25-29", :]
group6pd = purchase_data.loc[purchase_data["Age Group"] == "30-34", :]
group7pd = purchase_data.loc[purchase_data["Age Group"] == "35-39", :]
group8pd = purchase_data.loc[purchase_data["Age Group"] == "40+", :]

#Counts different Groups
group1pc = group1pd["Age Group"].count()
group2pc = group2pd["Age Group"].count()
group3pc = group3pd["Age Group"].count()
group4pc = group4pd["Age Group"].count()
group5pc = group5pd["Age Group"].count()
group6pc = group6pd["Age Group"].count()
group7pc = group7pd["Age Group"].count()
group8pc = group8pd["Age Group"].count()

#Averages different Groups
group1ac = group1pd["Price"].mean()
group2ac = group2pd["Price"].mean()
group3ac = group3pd["Price"].mean()
group4ac = group4pd["Price"].mean()
group5ac = group5pd["Price"].mean()
group6ac = group6pd["Price"].mean()
group7ac = group7pd["Price"].mean()
group8ac = group8pd["Price"].mean()

#totals different Groups
group1sc = group1pd["Price"].sum()
group2sc = group2pd["Price"].sum()
group3sc = group3pd["Price"].sum()
group4sc = group4pd["Price"].sum()
group5sc = group5pd["Price"].sum()
group6sc = group6pd["Price"].sum()
group7sc = group7pd["Price"].sum()
group8sc = group8pd["Price"].sum()

#avg total per person for different Groups
group1tsc = group1sc/group1c
group2tsc = group2sc/group2c
group3tsc = group3sc/group3c
group4tsc = group4sc/group4c
group5tsc = group5sc/group5c
group6tsc = group6sc/group6c
group7tsc = group7sc/group7c
group8tsc = group8sc/group8c

#Creates the relevant summary data frame
df_table5 = {
    "Age Group" : ["<10", "10-14", "15-19","20-24","25-29", '30-34', "35-39", '40+'],
    "Purchase Count" : [group1pc, group2pc, group3pc, group4pc, group5pc, group6pc, group7pc, group8pc],
    "Average Purchase Price": [group1ac, group2ac, group3ac, group4ac, group5ac, group6ac, group7ac, group8ac],
    "Total Purchase Value": [group1sc, group2sc, group3sc, group4sc, group5sc, group6sc, group7sc, group8sc],
    "Average Total Purchaes Per Person": [group1tsc, group2tsc, group3tsc, group4tsc, group5tsc, group6tsc, group7tsc, group8tsc],
}

summary_table5 = pd.DataFrame(data=df_table5)
summary_table5

,Age Group,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchaes Per Person
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [116]:
#Groups the data given requirements
transactions = purchase_data['SN'].value_counts()
grouped_spenders = purchase_data.groupby(['SN'])

#Calculates the total purchases
grouped_spenders_purchases = grouped_spenders["Price"].sum()
grouped_spenders_avg = grouped_spenders["Price"].mean()

#creates desired dataframe
summary_table6 = pd.DataFrame({"Number of Purchases": transactions,
                               "Average Purchase Price": grouped_spenders_avg,
                               "Total Purchase Value": grouped_spenders_purchases,})

#Sorts Dataframe
sortedsummary_table6 = summary_table6.sort_values("Number of Purchases", ascending=False)
sortedsummary_table6.head()

             Number of Purchases  Average Purchase Price  Total Purchase Value
Lisosia93                      5                3.792000                 18.96
Iral74                         4                3.405000                 13.62
Idastidru52                    4                3.862500                 15.45
Asur53                         3                2.480000                  7.44
Inguron55                      3                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [117]:
#Groups the data given requirements
popular = purchase_data['Item Name'].value_counts()
grouped_items = purchase_data.groupby(['Item Name'])

#Calculates the total purchases
grouped_item_purchases = grouped_items["Price"].sum()
grouped_item_avg = grouped_items["Price"].mean()

#creates desired dataframe
summary_table7 = pd.DataFrame({"Purchase Count": popular,
                               "Item Price": grouped_item_avg,
                               "Total Purchase Value": grouped_item_purchases,})

#Sorts Dataframe
sortedsummary_table7 = summary_table7.sort_values("Purchase Count", ascending=False)
sortedsummary_table7.head()

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Persuasion,9,3.221111,28.99
Nirvana,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [118]:
#Sorts for profit Dataframe
sortedsummary_table7 = summary_table7.sort_values("Total Purchase Value", ascending=False)
sortedsummary_table7.head()

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Nirvana,9,4.900000,44.10
Fiery Glass Crusader,9,4.580000,41.22
Singed Scalpel,8,4.350000,34.80